// Fonts
@import url('https://rsms.me/inter/inter.css');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

// Ladda
@import '~ladda/dist/ladda-themeless.min.css';

// Sidebar.
@import 'sidebar';

.navbar {
    .navbar-collapse {
        .active {
            color: $primary;
            border: $border-width solid $border-color;
            border-radius: $border-radius;
            padding-left: $spacer;
            padding-right: $spacer;
        }

        > .navbar-text {
            font-size: .75rem;
        }
    }
}

// Fixes tables in cards.
.card-body .table tr:first-child td,th {
    border-top: 0;
}

hr {
    border-top: 5px solid rgba(0, 0, 0, 0.07);
}
